# First steps in python (in a jupyter notebook)

    This is an introduction to the basic functionality of Python, with an emphasis on seeing how to handle a worksheet and how to get more detailed help.

## The start of it all - The worksheet

There are many ways to use sage. On your computers there is virtualbox with ubuntu install for people who prefer using a terminal and know how. For everyone else, we'll be using cocalc.

This file is part of cocalc and is what we call a notebook. We normally call these "worksheets" and each little box in a worksheet is a "cell". This is where you write your code on the browser. Once you've written your code, you type `shift + enter` and you'll get your results.

Let's test out that sage works. Try doing `2+7` in sage. (In other words, go to the cell with `2+7` and do `Shift + Enter` at the same time)

Before starting, click on `Help` and `Show Keyboard Shortcuts`, and examine what the symbols on the top right of cells do to familiarize yourself with the Jupyter or Cocalc notebook.

In [ ]:
2+7

There are **two** modes: `Normal` and `Edit`. When you clikc inside a cell, you enter `Edit` mode. To exit `Edit` mode, you can hit `Esc` or click outside the cell.

## New cells

For Cocalc, you'll want to learn how to make a cell in between other cells. There's four different ways to add a new cell:
1. In the top, you can see `Insert` in the menu. You can click that and insert a cell above/below.
2. In the top, you see a `+` symbol, clicking that will add a cell below.
3. You can type `a` or `b` to create a cell above/below (in Normal mode!). (Note that this only works when cell is not "active", aka it's blue and not green on the left)
4. You can hover in between cells and click on the bar that shows up to add a cell at that location.

### Exercice 0:

Create a code cell before the next cell (the one starting with "Conditional jump..." and add `3+5` and execute it.

**Troubleshooting:** If it's not working, make sure the left hand side is blue and not green. Green means you're actively editing the cell whereas blue means you're not.

**Remember** That to execute something you need to press `shift + enter`.

## Remove cells

There are two ways to remove a cell:

1. In the top, you can see `Edit` in the menu. There is an option to `Delete cells`. Clicking that will delete the current selected cell(s).
2. You can type `dd` (aka press `d` twice) to delete the current cell. (As before, the cell needs to not be active.)

### Exercise 1:

Add a couple of rows below this one (use a different method from before) and then delete it.

## Different cell types

There are three different cell types:

1. Code - This is where you normally have the code you want to execute.
2. Markdown - This is for making markdown/html text to help you remember what you were doing or to explain things. (If you don't know markdown, [Daring Fireball](https://daringfireball.net/projects/markdown/) has a good intro on markdown with syntax and everything.)
3. Raw - This is just raw text. Absolutely nothing special.

### Exercise 2:

Try changing the cell type of the cell below and see what happens. (Click `Markdown` in the Menu above when you have selected the cell.)

## First things first:
#### Basic Arithmetic

We already did a tiny bit of code earlier when we were adding `2+7`. Sage is really good at calculations. The five basic operations for programming are:

1. `+` addition
2. `-` subtraction
3. `*` multiplication
4. `/` division
5. `**` exponentiation

Note that sage follows the order of operations

In [ ]:
1/2+4

### Exercise 3:

Try to do a fun calculation.

## Variables

Just like any programming languages, `python` allows you to set variables. Note that `=` is used slightly differently in programming than it's used in math. In programming, a `=` sign just means you're setting that variable as that value. For example, in the code below, when we write `a  = 3` we are *assigning* the value of `3` to the variable `a`. In other words we're telling the computer "let `a` be equal to `3`".

In [4]:
a = 3

Notice how it didn't actually print anything. To print it out, we can just call the variable and it would print it out:

In [5]:
a

3

The nice thing with variables is it allows us to do more complicated stuff.

In [7]:
z = 2 / 9

z * z * a

0.14814814814814814

If we want to handle comparing things (like to test if two things are equal) then we would use `==`.

In [8]:
a == 3

True

The main numerical comparisons are:

* `==` - Equal
* `!=` - Not Equal
* `<`, `>`, `<=`, `>=` - Inequalities

### Exercise 4:

Create a variable `b` and make it equal to `7`. See if `b` is greater than or equal to `7`.

In [12]:
b = 7;
b >= 7

True

**Important** : Python does not know about variables before you tell it:

In [1]:
x

NameError: name 'x' is not defined

## Conditional jump

In python, conditional jumps can be written with the following syntax :

In [1]:
a = 30
if( a % 2 == 0 ):
    print( "a is even." )
else:
    print( "a is odd." )

a is even.

### Exercise 5:

Let `a` be the age of an human, give an algorithm that returns :

-   "child", if it's age is lesser than 13
-   "teenager", if it's age is greater that 13 and lesser than 18
-   "adult", if it's age is greater or equal to 18
-   "Alien", otherwise.

In [2]:
a = -3
if a > 0 and a < 13:
   print('child')
elif a >= 13 and a< 18:
   print('teenager')
elif a>=18:
   print('adult')
else:
   print('alien')

alien

## Loops

Find in the documentation how to use the function `range()`, you can use Google, or type `range?`.

In [10]:
range(10)  # returns the integers between 0 and 9

range(0, 10)

## The FOR loop:

In python, we can repeat the execution of some code. We call a loop each run of that code.

Writing loop can be done in the following way :

In [4]:
i=2
n=10
for i in range(n):
    print(i)
print("This is the end")
print(i)

0
1
2
3
4
5
6
7
8
9
This is the end
9

Notice that `i` still has a value after the loop finished. If needed, you can delete the value using the `del` function (this is not necessary).

In [5]:
del(i)
print(i)

NameError: name 'i' is not defined

### Exercise 6:

Write a FOR loop that print all the integers divisible by 4 between 0 and 35

In [6]:
for _ in range(36):
    if _ % 4 == 0:
        print(_)

0
4
8
12
16
20
24
28
32

## Lists

In python, lists are written by using with brackets. For example, the list \[1, 2, 3, 4\] can be coded with those lines :

In [7]:
l = [1,2,3,4]
l
l.append(10)
l

[1, 2, 3, 4, 10]

You can get the length of the list like so:

In [8]:
len(l)

5

It is possible to use loops and conditional jumps inside lists. In the next example, we select all the odd numbers between 0 and 19:

In [9]:
[_ for _ in range(20) if _ % 2 == 1]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Note that the character `_`is often used to iterate through a list, so that it does not use a common letter, `x`, `a` etc.

### Exercise 7:

List, by using the function `range`, all the odd values running from -5 to 21.

In [10]:
[i for i in range(-5,22) if i % 2 == 1]

[-5, -3, -1, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

We can write some lists by using loops :

In [11]:
l = []
for i in range(10):
   l.append(i**2+1)
l

[1, 2, 5, 10, 17, 26, 37, 50, 65, 82]

We can also do it in one line:

In [12]:
[i**2+1 for i in range(10)]

[1, 2, 5, 10, 17, 26, 37, 50, 65, 82]

Compare it with:

In [13]:
[i^2+1 for i in range(10)]

[3, 2, 1, 0, 7, 6, 5, 4, 11, 10]

The operator `^` in python is a bitwise `XOR` (exclusive OR).

It evaluates to `True` if and only if its arguments differ (one is `True`, any other value is `False`).

To demonstrate:

In [14]:
1^1

0

In [15]:
1^0

1

In [16]:
0^0

0

In [17]:
0^1

1

In [18]:
3^4

7

## The WHILE loop:

Loops can be written with the following format:

In [19]:
n=10
i=2
while i < n:
    print(i)
    i = i+1
print("output i : " + str(i))

2
3
4
5
6
7
8
9
output i : 10

### Exercise 8:

In a randomized order of the numbers from 0 to 999, find the first number in `my_list` which is divisible by 17 and not divisible by 3.

In [20]:
from random import shuffle
my_list = list(range(1000))
shuffle(my_list)

In [21]:
index = 0
found = False
while not found:
    test = my_list[index]
    if test % 17 == 0 and test % 3 != 0:
        found = True
    else:
        index += 1
print(index, my_list[index])

28 782

## Functions :

A function can be declared with the keyword **def**. Come back to the last exercise and create a function $characteristic(age)$ that takes as parameter the age of an human and returns the previous characteristic.

### Exercise 9:

Write a function that takes, in parameter, a real $x$ and then returns the maximum between $x^2$ and $2x+1$

In [22]:
def some_max(x):
    return max([x^2,2*x+1])

### Exercise 10:

Write a function `f` that takes an integer $n$ and then returns the value $u_n$ defined by $u_n=u_{n-1}+u_{n-2}$ with $u_{0}=0$ and $u_1=1$.

In [23]:
def f(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return f(n-1) + f(n-2)

### Exercise 11:

Give a function that takes an integer $n$ as parameter and return the integer part of $\log_2(n)$.

In [24]:
def a_function(n):
    return floor(log(n)/log(2))

### Exercise 12:

By using the previous examples, write a function that gives the list of all even integers that are lesser than `n` that are not divisible by 11.

In [25]:
def another(n):
    return [_ for _ in range(n) if _ % 11 != 0]

### Exercise 13:

Propose an algorithm that computes the binomial $\binom{n}{k}$ by using the Pascal triangle : $\binom{n+1}{k}=\binom{n}{k}+\binom{n}{k-1}$.

In [1]:
def pascal(n,k):
    if k == 0:
        return 1
    elif k == 1:
        return n
    elif k == n:
        return 1
    elif k+1 == n:
        return n
    else:
        return pascal(n-1,k) + pascal(n-1,k-1)

## Dictionaries

Dictionaries are data structures that allow to associate an object called `key` to another object called `value`. In a dictionary, all keys are different. In fact a dictionary is a map with finite support.

In [27]:
D = {"dog":4, "cat":6, "lamp":True, "ambulance":6}
D

{'dog': 4, 'cat': 6, 'lamp': True, 'ambulance': 6}

In [28]:
D.keys()

dict_keys(['dog', 'cat', 'lamp', 'ambulance'])

### Exercise 14:

How do you proceed to :

-   determine if a dictionary contains a particular key;
-   get a value associated to a key;
-   get the number of keys.

In [29]:
D?

Type:        dict
String form: {'dog': 4, 'cat': 6, 'lamp': True, 'ambulance': 6}
Length:      4
Docstring:
dict() -> new empty dictionary
dict(mapping) -> new dictionary initialized from a mapping object's
    (key, value) pairs
dict(iterable) -> new dictionary initialized as if via:
    d = {}
    for k, v in iterable:
        d[k] = v
dict(**kwargs) -> new dictionary initialized with the name=value pairs
    in the keyword argument list.  For example:  dict(one=1, two=2)

Use the `tab` completion to help you:

In [30]:
D['dog']

4

In [31]:
len(D.keys())

4

### Exercise 15:

Write a function that takes as parameter a list of integers and returns a dictionary where

-   keys are all the integers present inside the list
-   values, associated with the key, are the number of key repetitions inside the list.

In [32]:
def num_occur(the_list):
    d = {}
    for _ in the_list:
        if _ not in d:
            d[_] = 1
        else:
            d[_] += 1
    return d

## Generators/Iterators

Generators are programs that are useful to enumerate objects on demand. We obtain that generator by typing :

In [33]:
generator = iter([2,5,21,0])

We can enumerate those permutations by writing :

In [34]:
next(generator)

2

In [35]:
next(generator)

5

In [36]:
next(generator)

21

In [37]:
next(generator)

0

An error is raised when iterator reach the end of the iterator function.

In [38]:
next(generator)

StopIteration:

Generators allow to obtain object one by one without computing a list of all the elements. This is useful when the list is big or infinite.

You can implement your own generator. It suffices, during the enumeration, to return the current value by using the keyword `yield`. At the first use of `yield`, python will create a generator that stores in memory all the states of the calculus. At each `next` the generator will continue the calculus and will return the next value of the enumeration.

In [39]:
def generator( n ):
     for i in range(n):
         yield i**2
gen = generator( 30 )
print( next(gen) )
print( next(gen) )
print( next(gen) )
print( next(gen) )
print( next(gen) )
print( next(gen) )

0
1
4
9
16
25

### Exercises 16:

Write a generator that enumerates all numbers divisible by 3 that are not divisible by 5.

In [40]:
def the_gen():
    index = 0
    while True:
        if index % 3 == 0 and index % 5 != 0:
            yield index
        index += 1
g = the_gen()

In [41]:
next(g)

3

## Euler project

You can train yourself by solving problems from the Euler Project Website :

<https://projecteuler.net/>

For more information on Python and lots of examples, see <https://www.w3schools.com/python/default.asp>