# More on Python (in a jupyter notebook)

    This is an introduction to the more advanced functionality of Python when used within a worksheet.

## Booleans

`bool` has one of two values: `True` or `False`.

There are three boolean operators: `and`, `or`, and `not`.

You can convert something into a boolean by the `bool` function.

Notice in the following that `True` returns 'bool' as its type.

In [84]:
print(type(True))

<class 'bool'>

Notice that when converting something to boolean, we normally get True, except for when we input $0$.

In [2]:
print(bool(1))
print(bool(0))
print(bool(-1))

True
False
True

In [3]:
if 0:
    print("Hola") # Will not print because 0 is False!

In particular, the following give us `False`:
+ The integer `0`
+ The empty string `''`

We can also do operations on booleans using `and`, `or`, `not`, etc.

In [4]:
True and False

False

In [5]:
True and True

True

In [6]:
False and False

False

In [7]:
not True

False

In [8]:
False or True

True

## Strings

The `str` type is fairly common. You can use single or double quotes. Additionally you can use triple quotes if you want a multi-line string. You can also fill a string using dictionary substitutions as can be seen in the following example.

In [9]:
name = 'YourName'
message = """Hello %s,
You're a pretty cool person.
- %s
""" %(name, 'Jean-Philippe')
print(message)

Hello YourName,
You're a pretty cool person.
- Jean-Philippe

### Concatenation

You can concatenate strings either using `,` or `+`. The difference is that `,` will auto-type convert and will add spaces automatically. `+` on the other hand assumes everything is a `str` variable and will not add spaces.

In [10]:
a = 37
print("The square of ", a, "is", a**2)

The square of  37 is 1369

## Sets, and tuples

There are four more (complicated) types:

+ `set`- is a set of items with no multiplicites or order.
+ `tuple` - is the same as a list, but it is immutable (it cannot be changed).

In [11]:
S = set([1,2,3,1,2,3,1,2,3])
L = [1,2,3]
T = (1,2,3)
D = {2:1, 3:2, 4:3}

print(S)
print(L)
print(T)
print(D)

{1, 2, 3}
[1, 2, 3]
(1, 2, 3)
{2: 1, 3: 2, 4: 3}

While you can change a list, you CAN'T change a tuple:

In [12]:
L[0]= 37;print(L)
T[0] = 37

[37, 2, 3]

TypeError: 'tuple' object does not support item assignment

You can have only one element in a set, a list or a dictionary:

In [13]:
print(set([1]))
print([1])
print({1:2})

{1}
[1]
{1: 2}

To create a tuple with one element, you have to use a comma:

In [14]:
(1,)

(1,)

### Is this object present?
Use the `in` operator.

In [15]:
S = set([1,2,3])
L = [1,2,3]
T = (1,2,3)
D = {2:1, 3:2, 4:3}

print(1 in S)
print(1 in L)
print(1 in T)
print(1 in D)

print(4 not in S)
print(4 not in L)
print(4 not in T)
print(4 not in D)

True
True
True
False
True
True
True
False

Did you notice how for `dictionaries` the in operator is looking at the key and not the value? Remember this!

### How do I access elements?

Use square brackets to access individual items. For dictionaries you use the key. For lists and tuples the counting begins at $0$. Sets have no order so you can't "access" things.

In [16]:
L = [1,2,3]
T = (1,2,3)
D = {2:1, 3:2, 4:3}
print(L[0])
print(T[0])
print(D[2])

1
1
1

### How do I add new things?
There are many ways to do so.

+ Sets - Use the `add` function
+ Lists - You can `append` a list at the end, `extend` a list with another list, or just plain add two lists together.
+ Tuples - They are immutable, so we can't alter them! We can add two of them together and create a new tuple though.
+ Dictionaries - Just add a new key and put in a value.

#### `set` example for adding new things

In [17]:
S = set([1,2,3])
S.add(2)
S.add(4)
S

{1, 2, 3, 4}

#### `list` example for adding new things

In [18]:
L = [1,2,3]
L2 = ["a", "b"]
L3 = [(1,2), (4,5)]

L.append(4)
L.extend(L2)
print(L)
L4 = L2 + L3
print(L4)

[1, 2, 3, 4, 'a', 'b']
['a', 'b', (1, 2), (4, 5)]

#### `tuple` example for adding new things

Recall that since they are immutable, you can't add directly to a `tuple`, so a new tuple will be created

In [19]:
T = (1,2,3)
T2 = (0,0)
T3 = T + T2
print(T3)

(1, 2, 3, 0, 0)

#### `dict` example for adding new things

In [20]:
D = {2:1, 3:2, 4:3}
D[10] = 6
D["hello"] = "Good bye"
D

{2: 1, 3: 2, 4: 3, 10: 6, 'hello': 'Good bye'}

<strong>Note:</strong> We also can't add mutable items as keys for dictionaries, it has to be `immutable`.

In [21]:
D[[1]] = 'fail'

TypeError: unhashable type: 'list'

### Russell's paradox

Sets of sets can't happen

In [22]:
S1 = set([1,2,3])
S2 = set([S1])
S2

TypeError: unhashable type: 'set'

If you want a set of a set you need to create a `frozenset`. Frozen sets are immutable and therefore they can be placed in a set.

In [23]:
S1 = frozenset([1,2,3])
S2 = set([S1])
S2

{frozenset({1, 2, 3})}

### Exercise 1: 

Look at the following code and make a guess as to what will be displayed.

In [1]:
L = [1,"z",3,4,5]
L.append("c")
L = L + [9,10]
L[6]

9

### But I added too much! How do I delete things I don't want?

For sets we can just discard the item we want. Note that we must `discard` the actual element and not the 'index' as indices don't exist in a set.

In [25]:
S = set([1,2,3])
S.discard(2)
S

{1, 3}

For a `list` we can either delete by index using `del`, we can `pop` an item out, or we can `remove` an item by its value.

For `del` you must specify the list with the index you are trying to remove.
For `pop` you specify the index as well, but unlike `del`, it will actually return the item removed so you can use it later if you want.
For `remove` you specify the value of the thing you want to remove. This is useful if you don't know the index.

In [26]:
L = [1,2,3,4,5]
del L[1]
poppedItem = L.pop(0)
L.remove(3)
L

[4, 5]

<strong>Note:</strong> `remove` will only remove the first time it sees an object. It won't remove all of them.

In [27]:
L = [1, 2, 3, 2]
L.remove(2)
L

[1, 3, 2]

You can also use splicing. Splicing won't be covered in full here, but if you're interested, <a href="http://pythoncentral.io/how-to-slice-listsarrays-and-tuples-in-python/">here's a good article</a> on it.

In [28]:
L2 = [1,2,3,4,5]
L2 = L2[1:3]
L2

[2, 3]

In [29]:
T = (1,2,3,4,5)
T = T[1:3]
T

(2, 3)

For `dict` we can do similar things as list. We can `del` or we can `pop`. Recall that we are using the keys and not the values.

In [30]:
D = {2:1, 3:2, 4:3}
del D[3]
poppedItem = D.pop(4)
D

{2: 1}

### Some other useful commands (Lists only!)

+ `sort`
+ `reverse`

These two operations **CHANGE** the list you started with (it does not create a copy)

In [31]:
L = [5,4,1,2,3]
L.sort()
L

[1, 2, 3, 4, 5]

In [32]:
L = [5,4,1,2,3]
L.reverse()
L

[3, 2, 1, 4, 5]

### Exercise 2:

1. Create the list `[5,1,3,6,7,2,12]`
2. Remove the element 12.
3. Add the element 4.
4. Sort the list and reverse it.

In [2]:
L = [5,1,3,6,7,2,12]
L.remove(12)
L.append(4)
L.sort()
L.reverse()
print(L)

[7, 6, 5, 4, 3, 2, 1]

## The modification problem: Pointers

Changing lists and dictionaries can have unintended consequences. To see this, let's start off with constructing a list.

In [33]:
L = ["a", "b", "c"]
L2 = [L, L]
L2

[['a', 'b', 'c'], ['a', 'b', 'c']]

This seems fairly normal. We have a list composed with two lists. But now watch what happens when we add an element to our list `L`.

In [34]:
L.append("d")
L2

[['a', 'b', 'c', 'd'], ['a', 'b', 'c', 'd']]

WHAT?! That's mental right? So what happens if we change `L` to something altogether?

In [35]:
L = ["a", "b", "c"]
L2

[['a', 'b', 'c', 'd'], ['a', 'b', 'c', 'd']]

But `L2` didn't change!

So what happened? Basically variables in Python work a little differently than we might otherwise think. When creating a variable Python assigns the variable to a slot in your RAM (in computer terms, we say **points to**) with the data inside of it.
When you then use that variable to construct other variables (such as for `L2 = [L,L]`) Python doesn't duplicate the data.
Instead, it says "create an array with two elements where the information for these elements contained in the slot where `L` is".
So in essence this new memory slot points to the original slot!
Therefore when we alter `L` by appending a `d` to it, `L2` still is pointing to that memory slot and therefore will show the `d` now as well.

But what happened when we reconstructed `L`?!
That is because whenever we do a `=` it resets the memory slot.
So now `L` is pointing to a different slot in RAM and altering it won't affect `L2` anymore.

BUT that doesn't mean we can't get weird things happening still!
`L2[0]` is nothing more than just a pointer to the original memory slot that used to contain `L`.
So what do you think will happen when we alter this?

In [36]:
L2[0].remove("c")
L2

[['a', 'b', 'd'], ['a', 'b', 'd']]

### Exercise 3:

Guess the output of the following code:

In [8]:
a,b,c = 5,500,38
L = [c,c,a,a,b,b]
T = [L] + L
L[2] = 1000
print(T[0],T[4])

[38, 38, 1000, 5, 500, 500] 5

### How do we fix this?

#### `deepcopy` to the rescue!

Basically, what `deepcopy` does is makes a copy of the data instead of just pointing!
Like this we won't get a lot of this alteration problems.

In [9]:
from copy import deepcopy
L = ["a", "b", "c"]
L2 = [deepcopy(L), deepcopy(L)]
L2

[['a', 'b', 'c'], ['a', 'b', 'c']]

In [10]:
L.append("d")
L2

[['a', 'b', 'c'], ['a', 'b', 'c']]

Note that sometimes `deepcopy` is more powerful than you need (such as above) and a simple `copy` function will do. To see the difference between `copy` and `deepcopy` you can check out the [Python documentation](https://docs.python.org/3/library/copy.html).

## Commenting

A **comment** in python is text that doesn't get executed. It's basically there so that you can keep notes for yourself so that when you look at your work the next day, you know what's going on. There are two main ways to do comments and we'll see both:

In [11]:
# This is an inline comment

The line above is an inline comment and allows you to add a quick one line comment. Notice how when you run the cell, nothing happens. This is because a comment is never executed. This is good to help you remember what you're trying to do in a loop or why you're setting a certain variable in a certain way.

In [12]:
'''
The other type of comment is a multi-line comment.
In other words, we can have a comment that is significantly longer
and these are mainly good for functions/methods so that you can tell people how to use your code.
'''
def fun():
    return "This is an awesome function."

## Definition of a class

An object is an element that contains data and functions.

In python, everything that is put into a variable is an object.

Data stored in an object are placed inside variables that we call **attributes**.
The functions that are present in the object are called **method functions**.

The nature of data and of present functions in an object depend on the type of the object.

For example, the integer $5$ is an object.

In [41]:
mcinco = -5
type(mcinco)

int

In [42]:
mcinco.denominator # attribute

1

In [43]:
mcinco.bit_length() # method, notice the parenthesis

3

There exists **private** functions and attributes that do not appear to the user.
Their names all begin by an underscore "\_".

There are three types of attributes/functions
 - the attributes/functions that start and end by "\_"
 - the attributes/functions that start with "\_" only
 - the attributes/functions that start with "\_\_" and end by "\_\_" (2 underscores)

For example the following private function returns the string that is printed when we execute "cinco" and press Shift +Enter

In [44]:
mcinco.__repr__()

'-5'

In [45]:
mcinco.__abs__()

5

In [46]:
abs(mcinco)

5

All these attributes are attributes that are hidden to the user.
This means that the user should not "generally" use them, these functions are used by the developers of the class and must be used in very particular cases.

It is possible to define your own type to create your own objects.

For this, we create a class. A class contains all the information that characterize the object.
The name of the class is also the type of the object that will be created with this class.

A class is like the blueprint of a car:
 - With a blueprint, you create as many cars as you like
 - With a class, you can create as many objects as you like
 
 Here is the minimal code to create a class

In [47]:
class Test:
    pass

We just created a class "Test" and a new type of object "Test"

To create an object of type "Test", you only need to write:

In [48]:
e1 = Test()

In [49]:
e1

We say that "e1" is an **instance** of "Test".

The code "0x19ed61b48" (or something similar) is the adress where the object is located in the memory.This is a unique identifier. Indeed, we can create as many objects as we want with the same type.

In [50]:
e2 = Test(); e2

The variables e1 and e2 contain different objects.
They have different addresses.

To know if the two object are the same, you can use the operator "is":

In [51]:
e1 is e2

False

Watch out! Two objects may be equal, but be represented by two **distinct** objects in the memory.

In [52]:
l1 = [1,2]
l2 = [1,2]
l1 is l2

False

In [53]:
l1 == l2

True

The last one is true since both lists are considered "isomorphic" as python objects, but they are located at different addresses in the memory. (Think of it as building exactly two houses next to each other, they might be exactly the same, but they have different addresses, and that's what distinguish them).

Certain objects are unique in python, this means that they are represented in a unique way in the memory. This is the case for strings.

In [54]:
l1 = 'cou'
l2 = 'cou'
l1 is l2

True

In [55]:
l1 == l2

True

The data located in an object can evolve with time.
You can for example, add attributes during the life of an object :

In [56]:
e1.a = 4

Now e1 contains an attribute *a* , while e2 with the same type does not contain an attribute "a".

In [57]:
e2.a

AttributeError: 'Test' object has no attribute 'a'

### Exercise 4:

Create a new type of object with name "Car".

In [13]:
class Car:
    pass

Create 3 instances c1, c2, c3 of Car

In [14]:
c1 = Car()

In [15]:
c2 = Car()

In [16]:
c3 = Car()

Now, add an attribute 'a' for c1 containing 1, an attribute 'b' containing 37 for c2 and an attribute 'a' containing 4 for c3.

In [18]:
c1.a = 1
c2.b = 37
c3.a = 4

Verify that these objects all have different representation in the memory:

In [19]:
c1

In [20]:
c2

In [21]:
c3

Type the following command:

In [22]:
g = c1

Are g and c1 refering to the same object in the memory? Check this.

In [23]:
g is c1

True

## Predefine attributes and functions

We can predefine attributes and functions inside the class of the object.

To define a class method, you declare the function inside the class by putting "self" as a first input parameter.
When a function is called from an object $o$, the parameter *self* will contain the object $o$.

In [34]:
class Obj:
    def f(self, p1, p2):
        print("Call of %s.f(%s, %s)"%(str(self),str(p1), str(p2)))

In [35]:
o1 = Obj()
o2 = Obj()
o1.f(1,2)
o2.f(3,4)

Call of <__main__.Obj object at 0x7efe300ee650>.f(1, 2)
Call of <__main__.Obj object at 0x7efe300ef050>.f(3, 4)

We have already seen that there are special functions in python. A special function always starts with two "\_".

For example, find the following function on the integer 5: \_\_str\_\_, \_\_repr\_\_, \_\_int\_\_, \_\_plus\_\_, \_\_mult\_\_, etc ...

In [36]:
Five = 5
Five.__str__()

'5'

In [37]:
Five.__repr__()

'5'

In [38]:
Five.__init__()

Try to find in the documentation of these functions.

The function **\_\_init\_\_(self, ...)** is special because this function is executed when an object is created. Usually, the attributes of the object are declared in this function.

We called this function the "constructor" of the class.

In [39]:
class Obj:
    def __init__(self, a):
        self.val = a**2

In [40]:
e3 = Obj(4)

In [41]:
e3.val

16

In [42]:
e3 = Obj(2)

In [43]:
e3.val

4

## Inheritance

Sometimes, we write many times the same code. That is why we try to reduce the code to save time and to avoid having many times the same mistake.

This can be done using inheritance.

Suppose that we would like to implement a geometrical shape: a square, a rectangle and a convex polygon.
Assume that we wish to implement the function *number_of_corners(self)* that returns the number of vertices located on the perimeter of the figure.

We can proceed as follows:

In [44]:
class convex_polygon:
    def __init__( self, points ):
        self.points = points
    def number_of_corners(self):
        return len(self.points)
    
class rectangle:
    def __init__( self, points ):
        self.points = points
    def number_of_corners(self):
        return len(self.points)
    
class square:
    def __init__( self, points ):
        self.points = points
    def number_of_corners(self):
        return len(self.points)

It is clear that we can copy three time the same code.

In fact, this is not necessary, because a square is a special rectangle and a rectangle is a special convex polygon.

In fact, we can avoid these three copies and explain to python the relation between these three classes:

In [45]:
class convex_polygon:
    def __init__( self, points ):
        self.points = points
    def number_of_corners(self):
        return len(self.points)
    
class rectangle(convex_polygon):
    pass
    
class square(rectangle):
    pass

We then say that "square" inherits from "rectangle" and that "rectangle inherits from convex_polygon.

In fact, the inheritance is transitive and so "square" inherits from "convex_polygon".

More precisely, by writing the above code, when python creates an object of type "square", it adds automatically the functions defined in the parent classes (parent is chosen as analogy with "inheritance") "square" and "convex_polygon" in the object that it just created.

In fact, the implementation of the function "number_of_corners()" was factorized in the class "convex_polygon".

In [46]:
s = square([1,2,3,4])

In [47]:
s.number_of_corners()

4

You most probably noticed that the function "\_\_init\_\_" was also factorized.

Nevertheless, this is not a good idea to use the same constructor for the square, the rectangle and the convex polygon.
Effectively, we want that the square constructor raises an error if the user passes as a parameter more than 4 points.

So, we will redefine the function "\_\_init\_\_" in square. We say that we overwrite "\_\_init\_\_".
This way, the implementation of "\_\_init\_\_" in convex_polygon will be ignored excepted if we call it explicitely by hand.

For example,

In [48]:
class convex_polygon:
    def __init__( self, points ):
        self.points = points
    def number_of_corners(self):
        return len(self.points)
    
class rectangle(convex_polygon):
    pass

class square(rectangle):
    def __init__(self, points):
        if len(points) != 4:
            raise ValueError("Square should contain 4 points.")
        convex_polygon.__init__(self, points )

In [49]:
s = square([1,2])

ValueError: Square should contain 4 points.

In [56]:
s = square([(0,0),(1,0),(0,1),(1,1)])

In [54]:
s.points

[(0, 0), (1, 0), (0, 1), (1, 1)]

Now, the architecture of how class seems right.

This way, as soon as we add a new function in "convex_polygon", it will also be available for square.

### Exercise 5: 
Well, the architecture is not as good as we say it is. Why? Modify the code to take this into account.

In [66]:
class convex_polygon:
    def __init__( self, points ):
        self.points = points
    def number_of_corners(self):
        return len(self.points)
    
class rectangle(convex_polygon):
    def __init__(self, points):
        if len(points) != 4:
            raise ValueError("A rectangle should contain 4 points.")
        convex_polygon.__init__(self, points )

class square(rectangle):
    pass

### Exercise 6: 

Write a function "barycenter(self)" that returns the center of gravity of the polygons.

In [67]:
class convex_polygon:
    def __init__( self, points ):
        self.points = points
    def number_of_corners(self):
        return len(self.points)
    
    def barycenter(self):
        c = [0,0]
        for p in self.points:
            c = [c[0]+p[0],c[1]+p[1]]
        return [c[0]/self.number_of_corners(),c[1]/self.number_of_corners()]
    
class rectangle(convex_polygon):
    def __init__(self, points):
        if len(points) != 4:
            raise ValueError("A rectangle should contain 4 points.")
        convex_polygon.__init__(self, points )

class square(rectangle):
    pass

### Exercise 7:

Verify that you get (0.5,0.5) as the barycenter of the unit square:

In [68]:
s = square([(0,0),(1,0),(0,1),(1,1)]);s.points

[(0, 0), (1, 0), (0, 1), (1, 1)]

In [69]:
s.barycenter()

[0.5, 0.5]